@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SEOCor - SEO Attribution</h1>
    <p class="lead">SEOCor is a patent pending attribution software that tracks changes made to websites and correlates them with traffic.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why another attribution tool?</h2>
        <p>Search Engine Marketing companies are tired of reporting "it got better" to their large clients. Big companies want to know the what and how of their increases in traffic. We aim to fill this need.</p>
    </div>
    <div class="col-md-4">
        <h2>Current Status</h2>
        <p>We are bootstrapping this project to get it off the ground. We currently have the ability to collect data and hope to be able to display it to you by the end of April. We will keep you up to date with email and social media.</p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up!</h2>
        <p>All accounts start with a free 6 month trial.</p>
        <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>