@model SEOCor.Web.Models.TrackingScriptModel

@{
    ViewBag.Title = "TrackingCode";
}

<h2>Tracking Code</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Site.Name)</h4>
	<hr />
    <dl class="dl-horizontal">
        <pre>
hello<this>is not valid <blah>code.</blah></this>
        @Html.DisplayFor(model => model.TrackingScript)
</pre>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
