@model SEOCor.Web.Models.TrackingScriptModel

@{
    ViewBag.Title = "TrackingCode";
}

<h2>Tracking Code</h2>

<div>
    <h4>Comming Soon!</h4>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
